/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #1f1f1f;
  --primary-color: #dbe4e9;
  --secondary-color: #cacaca;
  --font-vagrounded: 'VAG', sans-serif; 
}

:root.dark-mode {
  --background: #0b1416;
  --foreground: #ffffff;
  --primary-color: #1f2937; /* Update if different in dark mode */
  --secondary-color: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

h1 {
  color: #ff4500;
  font-family: var(--font-vagrounded);
}

:root {
  --font-vagrounded: "VAG Rounded", sans-serif;
}
